{% extends "base.html" %}

{% comment %} list of ledgers of user for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel="stylesheet" href="{% static 'main/styles/ledger.css' %}">
{% endblock css_files %}

{% block title %}List od ledgers
{% endblock title %}

{% block page_title %} Ledgers overview of {{ user.username }}
{% endblock page_title %}

{% block content %}

    {% for ledger in ledgers %}

        <div class="card">

            <div class="card-header">
                <strong> {{ ledger.name }}</strong>
            </div>

            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p>{{ ledger.desc}}</p>
                </div>
            </div>

            <div class="card-footer text-muted">

                <div>
                    {{ledger.created_at}}
                </div>

                <div>
                    {% if user == ledger.user%}
                        <form method="post">
                            {% csrf_token %}
                            <button 
                            type="submit"
                            class=""
                            name="ledger-id"
                            value="{{ ledger.id }}">
                                Delete this ledger
                            </button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>











    {% empty %}

        <p>So far there is no ledger connected to your name, start by creating one.</p>

    {% endfor %}

    <form method="post" action="{% url 'ledger_add' %}">
        {% csrf_token %}
        <button type="submit" class="">New ledger</button>
    </form>

{% endblock content %}