{% extends "base.html" %}

{% comment %} list of payments of user for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel="stylesheet" href="{% static 'main/styles/payment.css' %}">
    {% endblock css_files %}
    
    {% block title %}List od payments
    {% endblock title %}
    
    {% block page_title %} Payments overview of {{ user.username }}
    {% endblock page_title %}
    
{% block content %}
    
    <form method="post" action="{% url 'payment_add' %}">
        {% csrf_token %}
        <button type="submit" class='button-small'>New payment</button>
    </form>

    <div class='card-container'>

        {% for payment in payments %}

        <div class="card">

            <div class='card-header'>
                <div class='left-group'><h3> {{ payment.name }}</h3></div>
            </div>
            
            <div class='divider'></div>

            <div class='card-body'>
                <div class='card-desc'>
                    <p>{{ payment.desc}}</p>
                </div>
            </div>
            
            <div class='divider'></div>

                <div class='card-footer'>
                    
                    <div class='left-group'>
                        <table>
                            <tr>
                                <td>Payment owner:</td>
                                <td>{{payment.user}}</td>
                            </tr>
                            <tr>
                                <td>created at:</td>
                                <td>{{payment.created_at}}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class='right-group'>

                        {% if user == payment.user%}
                            <form method='post'>
                                {% csrf_token %}
                                <button type='submit' class='button-small custom-warning' name='payment-delete' value='{{ payment.id }}'>
                                    Delete this payment
                                </button>
                            </form>
                            {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>

        {% empty %}

        <p>So far there is no payment connected to your name, start by creating one.</p>

        {% endfor %}
    </div>


{% endblock content %}