{% extends "base.html" %}

{% comment %} payment add html for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel="stylesheet" href="{% static 'main/styles/payment.css' %}">
{% endblock css_files %}

{% block title %}New payment
{% endblock title %}

{% block page_title %} This page is to create a new payment
{% endblock page_title %}

{% block content %}

{% comment %} <form method="post"> {% endcomment %}
<form method="post" action="{% url 'payment_add' %}">
    {% csrf_token %}

    <div>

        {{ payment }}

    </div>


    <div>
    {% for balance in balances %}


        {{ balance }}
        <hr>

    {% endfor %}
    </div>
            
    <button type="submit">Submit</button>

</form>

{% endblock content %}