{% extends "base.html" %}

{% comment %} payment add html for aplication main in project Bill_to_split {% endcomment %}

{% load static %}

{% block css_files %}    
    <link rel="stylesheet" href="{% static 'main/styles/payment.css' %}">
{% endblock css_files %}

{% block title %}New payment
{% endblock title %}

{% block page_title %} This page is to create a new payment
{% endblock page_title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    <h2>Payment Details</h2>
    {{ form.as_p }}

    <h2>Split Payment</h2>
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.as_p }}
    {% endfor %}

    <button type="submit">Save Payment</button>
</form>

{% endblock content %}