{% comment %} base html for project Bill_to_split {% endcomment %}

{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{% static 'styles/pico.amber.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">

    {% block css_files %}
    {% endblock css_files %}

    <title>
        {% block title %}
        Bill to split {% comment %} default title {% endcomment %}
        {% endblock title %}
    </title>

</head>
<body>


    <nav class="top_navbar">
        <ul class="nav_left">
            <li class="">
                <form method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <button type="submit" class="">Home</button>
                </form>
            </li>
            <li class="">
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="outline">Ledgers</button>
                </form>
            </li>
            <li class="">
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="outline">Payments</button>
                </form>
            </li>
        </ul>

        <ul class="nav_right">
            {% if user.is_authenticated %}
            <span class="">Logged in as {{ user.username }} |</span>
                <li class="">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="outline">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button type="submit" class="">Login</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </nav>


    <div class= "h1_title">
        <h1>
            {% block page_title %}
            {% endblock page_title %}
        </h1>
    </div>

    <div class= "content">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>