/* base css for project Bill_to_split */

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
    margin: 0 auto;
}

.top_navbar {
    max-width: 110vh;
}

body {
    max-width: 150vh;
}

.h1_title {
    max-width: 110vh;
}

.nav_left {
    padding-left: 30px;
}

.nav_right {
    padding-right: 30px;
}

.h1_title {
    padding-left: 45px;
    margin-top: 40px;
}

.button-small {
    padding: 10px 15px !important;
    margin: 0 !important;
    width: auto !important;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 110vh;
}

.custom-warning {
    background-color: #c01000;
    color: #f0f0f0;
}

.color-pick-color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
}

.color-pick-button {
    width: 40px;   /* Nastaví šířku tlačítka */
    height: 40px;  /* Nastaví výšku tlačítka */
    padding: 0;    /* Odstraní případné vnitřní odsazení */
    border: none;  /* Pokud má tlačítko okraje, můžeš je také odstranit */
    display: flex; /* Umožní lepší zarovnání obsahu */
    justify-content: center; /* Zarovná obsah horizontálně */
    align-items: center; /* Zarovná obsah vertikálně */
}


/* 
pico colors:

--pico-primary
--pico-secondary
--pico-tertiary
--pico-success
--pico-warning
--pico-error
--pico-background
--pico-contrast
--pico-muted
--pico-border
--pico-mark
*/