/* base css for project Bill_to_split */

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
    margin: 0 auto;
}

.nav_left {
    padding-left: 30px;
}

.nav_right {
    padding-right: 30px;
}

.h1_title {
    padding-left: 45px;
    margin-top: 40px;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
}

.button-small {
    padding: 10px 15px !important;
    margin: 0 !important;
    width: auto !important;
}

.card-container {
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 20px;
}

.card {
    border: 2px solid var(--pico-primary);
    border-radius: 10px;
    max-width: 90vh;
    margin: 30px auto;
    padding: 10px 30px;

}
.card p, h3 {
    margin: 0;

.summary::after {
    content: " ⮟"; /* Přidá šipku dolů */
    margin: 0;
    padding:0;
    float: left;
    color: var(--pico-primary);
}

}
.card-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.left-group {
    text-align: left;
    margin-left: 10px;
}

.right-group {
    text-align: right;
    margin-right: 10px;
}

.card-body {
    overflow-y: auto;
    padding-right: 10px;
}

.card-desc {
    align-items: center;
    margin: 10px;
    text-align: justify;
    max-height: 8em;
}

.card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    max-width: 100%;
}

.divider {
    border-top: 1px solid var(--pico-secondary);
    margin: 10px 0;
}

.card-table {
    width: 7rem;
    padding: 0;
    margin: 0;
    border-bottom: none;
    table-layout: fixed; /* Pevná šířka sloupců */
    border-collapse: collapse; /* Sjednocení okrajů buněk */
}

.card-table.tr, td {
    padding: 0;
    margin: 0;
    text-align: left; /* Zarovnání textu */
    border-bottom: none;
}

.card-table-td1 {
    width: 8rem; /* Pevná šířka prvního sloupce */
}

.card-table-td2 {
    width: 15rem; /* Pevná šířka druhého sloupce */
}



.custom-warning {
    background-color: #c01000;
    color: #f0f0f0;
}

.color-pick-color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
}

.color-pick-button {
    width: 40px;   /* Nastaví šířku tlačítka */
    height: 40px;  /* Nastaví výšku tlačítka */
    padding: 0;    /* Odstraní případné vnitřní odsazení */
    border: none;  /* Pokud má tlačítko okraje, můžeš je také odstranit */
    display: flex; /* Umožní lepší zarovnání obsahu */
    justify-content: center; /* Zarovná obsah horizontálně */
    align-items: center; /* Zarovná obsah vertikálně */
}


/* 
pico colors:

--pico-primary
--pico-secondary
--pico-tertiary
--pico-success
--pico-warning
--pico-error
--pico-background
--pico-contrast
--pico-muted
--pico-border
--pico-mark
*/